<template>
    <div id="actionBarWrapper"
         class="row white--text primary-background align-content-center">

        <div class="col mx-auto text-right d-flex align-items-center">
            <div class="icon-shadow pointer" @click="goBack">
                <i class="fas fa-arrow-right font16px font-weight-bold light-bg round15px p-3"></i>
            </div>
            <div class="font18px gray-text">
                <div class="mr-2">{{ title }}</div>
            </div>
        </div>
        <div class="col ml-auto text-left">
            <div class="d-flex text-left">
                <div class="icon-shadow mr-auto text-left" @click="navigateTo('Login')">
                    <i class="fal fa-user font16px font-weight-bold bg-gradient round15px p-3"></i>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ActionBar",
        props: ['title'],
        methods: {
            goBack() {
                this.$router.go(-1);
            },
            navigateTo(path) {
                if (this.$router.currentRoute.fullPath.indexOf(path) === -1) {
                    this.$router.push({path: path});
                }
            },
        }
    }
</script>

<style scoped>

</style>
