<template>
    <div id="FooterMenu" class="round10px row  secondary-text m-3 p-0">
        <div class="col-12 d-flex justify-content-between align-content-center p-2">
            <router-link :class="getClass('')" to="/Profile">
                <span class="icon-shadow mx-auto d-block">
                    <i class="fas fa-user"></i>
                </span>

                <span class="gray-text">
                    پروفایل
                </span>

            </router-link>
            <router-link :class="getClass('')" to="/">
                <span class="icon-shadow mx-auto d-block">
                    <i class="fas fa-syringe"></i>
                </span>

                <span class="gray-text">
                    آزمایشگاه
                </span>

            </router-link>
            <router-link :class="getClass('')" to="/MedicalStore">
                <span class="icon-shadow mx-auto d-block">
                    <i class="fas fa-stethoscope"></i>
                </span>


                <span class="gray-text">
                    فروشگاه
                </span>

            </router-link>
            <router-link :class="getClass('home')" to="/Home">
                <span class="icon-shadow mx-auto d-block">
                    <i class="fas fa-home "></i>
                </span>

                <span class="gray-text">
                    خانه
                </span>

            </router-link>
        </div>
    </div>
</template>

<script>
    export default {
        name: "FooterMenu",
        props: ['currentPage'],
        methods: {
            navigateTo(path) {
                if (this.$router.currentRoute.fullPath.indexOf(path) === -1) {
                    this.$router.push({path: path});
                }
            },
            getClass(linkName) {
                let classList = "col text-center px-0 pb-0 pt-2 mx-auto";
                if (linkName === this.currentPage) {
                    classList += " active";
                }
                return classList;
            }
        }
    }
</script>

<style scoped>

</style>