<template>
    <div id="home" class="container-fluid has-action-bar has-footer light-gray-bg">
        <div id="homeActionBar">
            <div class="row">
                <div class="col-12 align-items-center justify-content-between d-flex">
                    <div class="text-left align-items-center d-flex pointer" @click.stop="drawer = !drawer">
                        <i class="fal fa-bars font16px font-weight-bold light-bg round15px p-3"></i>
                    </div>
                    <div class="text-center align-items-center d-flex pointer">
                        <div class="font16px mt-2">
                            <router-link to="/Home" class="font19px light-text font-weight-bold">FAST NURSE
                            </router-link>
                        </div>
                    </div>
                    <div class="text-left align-items-center d-flex pointer" @click="navigateTo('Login')">
                        <i class="fal fa-user font16px font-weight-bold bg-gradient round15px p-3"></i>
                    </div>
                </div>
            </div>

            <div class="container">
                <div v-if="banner.length > 0" class="row">
                    <div class="col-12 p-0">
                        <carousel
                                :autoplay="true"
                                :dots="false"
                                :items="1"
                                :margin="5"
                                :nav="false"
                                :rtl="true">
                            <div v-for="item in banner"
                                 :key="item.id">
                                <img :src="getImgUrl(item.src)" alt="بنر" class="img-fluid round15px">
                            </div>
                        </carousel>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-between align-items-center px-1">
                        <h5 class="pt-3 pb-3 text-right blue-text">خدمات ما</h5>
                        <div class="">
                            <router-link to="/" class="btn-gradient font14px">
                                بیشتر
                                <i class="fas fa-chevron-left small"></i>
                            </router-link>
                        </div>
                    </div>
                    <div v-for="item in services" :key="item.id" @click="navigateTo(item.navigate)"
                         class="col-lg-2 col-md-3 col-6 p-1 align-content-center pointer">
                        <div class="white-bg p-lg-2 p-2 round15px services-height d-grid justify-content-start">
                            <div class="text-right align-items-center justify-space-start">
                                <img :src="getImgUrl(item.src)" :alt="item.title" class="img-fluid img-services">
                            </div>
                            <div class="d-flex align-content-center text-right title-services">
                                {{ item.title }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-between align-items-center px-1">
                        <h5 class="pt-3 pb-3 text-right blue-text">پرستاری در منزل</h5>
                        <div class="">
                            <router-link to="/" class="btn-gradient font14px">
                                بیشتر
                                <i class="fas fa-chevron-left small"></i>
                            </router-link>
                        </div>
                    </div>

                    <div class="col-md-12 text-center p-0" dir="ltr" >
                        <carouselLtr
                                :autoplay="false"
                                :dots="false"
                                :nav="false"
                                :responsive="{0:{items:3,nav:false,stagePadding:5},600:{items:4,nav:false},900:{items:4,nav:false},1000:{items:7,nav:false}}">

                            <div v-for="item in categories" :key="item.id" >
                                <div class="white-bg m-lg-2 m-1 p-lg-2 p-2 text-center round15px justify-content-center pointer" @click="navigateTo('NursingServices')">
                                    <img :src="getImgUrl(item.src)" :alt="item.title" class="img-fluid img-categories">

                                    <div class="d-block text-center mt-2">
                                        {{ item.title }}
                                    </div>
                                </div>
                                <!--<div class="text-center mt-3 font11px category-label">{{ item.title }}</div>-->
                            </div>
                        </carouselLtr>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-between align-items-center px-1">
                        <h5 class="pt-3 pb-3 text-right blue-text">خدمات مراقبت و نگهداری</h5>
                        <div class="">
                            <router-link to="/" class="btn-gradient font14px">
                                بیشتر
                                <i class="fas fa-chevron-left small"></i>
                            </router-link>
                        </div>
                    </div>
                    <div v-for="item in careServices" :key="item.id" class="col-lg-4 col-md-6 col-12 p-1">
                        <div class="white-bg round10px pr-3">
                            <div class="row">
                                <div class="col-4 p-2">
                                    <!-- <img :src="getImgUrl(item.src)" :alt="item.title" class="img-fluid round10px">-->
                                    <div class="round10px"
                                         v-bind:style="{ 'background': 'url(' + getImgUrl(item.src) + ') center no-repeat', 'height': '100px' ,'background-size':'cover'}">
                                    </div>
                                </div>
                                <div class="col-8 align-items-center justify-content-between d-flex">
                                    <span>
                                        <span class="font16px blue-text">{{ item.title}}</span>
                                        <br>
                                        <span class="font12px gray-text">{{ item.desc}}</span>
                                    </span>

                                    <span class="align-items-center d-flex pl-3">

                                       <i class="fas fa-chevron-circle-left font20px gray-text"></i>
                                    </span>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-between align-items-center px-1">
                        <h5 class="pt-3 pb-3 text-right blue-text">فروشگاه تجهیزات پزشکی</h5>
                        <div class="">
                            <router-link to="/" class="btn-gradient font14px">
                                بیشتر
                                <i class="fas fa-chevron-left small"></i>
                            </router-link>
                        </div>
                    </div>
                    <div class="col-md-12 text-center p-0" dir="ltr">
                        <carouselLtr
                                :autoplay="false"
                                :dots="false"
                                :nav="false"
                                :responsive="{0:{items:2,nav:false,stagePadding:15},600:{items:4,nav:false},900:{items:4,nav:false},1000:{items:5,nav:false}}">

                            <div v-for="item in instruments" :key="item.id">
                                <div class=" m-lg-2 m-1 p-lg-2 p-1 text-center round15px justify-content-center white-bg-simple">
                                    <div class="round10px"
                                         v-bind:style="{ 'background': 'url(' + getImgUrl(item.src) + ') center no-repeat', 'height': '150px' ,'background-size':'cover'}">
                                    </div>
                                    <div class="text-center title-services mt-2 text-over-flow">
                                        {{ item.title }}
                                    </div>
                                    <span class="gray-text">
                                        {{ item.category}}
                                    </span>
                                    <span class="gray-text">
                                        {{ item.rentTime}}
                                    </span>
                                    <div class="primary-text text-center line-height-2 price font16px lightblue-text">
                                        {{$numberWithCommas(item.price) }} تومان
                                    </div>
                                </div>
                                <!--<div class="text-center mt-3 font11px category-label">{{ item.title }}</div>-->
                            </div>
                        </carouselLtr>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row mx-auto justify-content-center">
                    <div class="col-md-12 d-flex justify-content-between align-items-center px-1">
                        <h5 class="pt-3 pb-3 text-right blue-text">آزمایش</h5>
                    </div>
                    <div class="col-lg-5 col-12 d-flex align-items-center justify-space-between white-bg-simple round10px p-lg-4 p-2 m-lg-2 mt-1">
                        <div class="">
                            <img src="../assets/img/microscope.png" alt="microscope" width="60px">
                            <span class="font20px mr-3">آزمایش در محل</span>
                        </div>
                        <div class="justify-space-between d-flex">
                            <span class="justify-space-between d-flex"><i
                                    class="fas fa-chevron-circle-left font20px gray-text"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-5 col-12 d-flex align-items-center justify-space-between  round10px p-lg-4 p-2 m-lg-2 mt-1 bg-gradient">
                        <div class="">
                            <img src="../assets/img/covid-test.png" alt="microscope" width="60px">
                            <span class="font20px mr-3">تفسیر پاسخ آزمایش آنلاین</span>
                        </div>
                        <div class="justify-space-between d-flex">
                            <span class="justify-space-between d-flex"><i
                                    class="fas fa-chevron-circle-left font20px gray-text"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-between align-items-center px-1">
                        <h5 class="pt-3 pb-3 text-right blue-text">مجله پزشکی</h5>
                        <div class="">
                            <router-link to="/" class="btn-gradient font14px">
                                بیشتر
                                <i class="fas fa-chevron-left small"></i>
                            </router-link>
                        </div>
                    </div>
                    <div class="col-md-12 text-center p-0" dir="ltr">
                        <carouselLtr
                                :autoplay="false"
                                :dots="false"
                                :nav="false"
                                :responsive="{0:{items:1,nav:false,stagePadding:15},600:{items:3,nav:false},900:{items:3,nav:false},1000:{items:3,nav:false}}">

                            <div v-for="item in blogs" :key="item.id">
                                <div class=" m-lg-2 m-1 p-lg-2 p-1 text-center round15px justify-content-center white-bg-simple">
                                    <div class="round10px"
                                         v-bind:style="{ 'background': 'url(' + getImgUrl(item.src) + ') center no-repeat', 'height': '150px' , 'background-size':'cover'}">
                                    </div>
                                    <div class="d-block text-center title-services mt-2">
                                        {{ item.title }}
                                    </div>
                                </div>
                                <!--<div class="text-center mt-3 font11px category-label">{{ item.title }}</div>-->
                            </div>
                        </carouselLtr>
                    </div>
                </div>
            </div>

            <SidebarNavigation :drawer="drawer"/>
            <FooterMenu/>
        </div>
    </div>
</template>


<script>
    import SidebarNavigation from "./SidebarNavigation";
    import FooterMenu from "./FooterMenu";
    import carousel from 'xx-vue-owl-carousel';
    import carouselLtr from 'vue-owl-carousel';

    export default {
        name: "Home",
        components: {
            SidebarNavigation,
            FooterMenu,
            carousel,
            carouselLtr
        },
        data: () => ({
            drawer: false,
            banner: [
                {id: 1, src: 'banner1.jpg'},
                {id: 2, src: 'banner1.jpg'},
            ],
            services: [
                {id: 1, src: 'nurses.png', title: 'خدمات پرستاری', navigate: 'NursingServices'},
                {id: 2, src: 'care.png', title: 'خدمات مراقبت و نگهداری', navigate: 'Maintenance'},
                {id: 3, src: 'instrument.png', title: 'فروشگاه تجهیزات پزشکی', navigate: 'MedicalStore'},
                {id: 4, src: 'talking.png', title: 'خدمات توان بخشی و گفتار درمانی', navigate: 'TherapyServices'},
                {id: 5, src: 'medicine.png', title: 'تهیه نسخه دارو', navigate: 'MedicineDelivery'},
            ],
            categories: [
                {id: 1, src: 'serum.png', title: 'سرم تراپی'},
                {id: 2, src: 'syringe.png', title: 'تزریقات'},
                {id: 3, src: 'scissors.png', title: 'کشیدن بخیه'},
                {id: 4, src: 'serum.png', title: 'سرم تراپی'},
                {id: 5, src: 'syringe.png', title: 'تزریقات'},
                {id: 6, src: 'scissors.png', title: 'کشیدن بخیه'},
                {id: 7, src: 'serum.png', title: 'سرم تراپی'},
                {id: 8, src: 'syringe.png', title: 'تزریقات'},
            ],
            careServices: [
                {id: 1, src: 'senior.jpg', title: 'مراقبت سالمندان', desc: 'مراقبت های پزشکی و غیر پزشکی'},
                {id: 2, src: 'child.jpg', title: 'مراقبت کودک', desc: 'نوزاد ، خردسال ، نوجوان'},
                {id: 3, src: 'nursing-home.jpg', title: 'مراقبت بیمار', desc: 'همراه با مشاوره'},
            ],
            instruments: [
                {id: '1', src: 'تجهیزات+پزشکی+.jpg', title: 'تجهیزات پزشکی   شماره یک ', category: 'فروش', price: 12000000},
                {id: '2', src: 'تجهیزات+پزشکی+.jpg', title: 'تجهیزات پزشکی   شماره یک ', category: 'اجاره', rentTime:'سالیانه', price: 22000000},
                {id: '3', src: 'تجهیزات+پزشکی+.jpg', title: 'تجهیزات پزشکی   شماره یک ', category: 'اجاره', rentTime:'ماهیانه', price: 12000000},
                {id: '4', src: 'تجهیزات+پزشکی+.jpg', title: 'تجهیزات پزشکی   شماره یک ', category: 'فروش', price: 12000000},
                {id: '5', src: 'تجهیزات+پزشکی+.jpg', title: 'تجهیزات پزشکی   شماره یک ', category: 'اجاره', rentTime:'ماهیانه', price: 12000000},
                {id: '6', src: 'تجهیزات+پزشکی+.jpg', title: 'تجهیزات پزشکی   شماره یک ', category: 'فروش', price: 12000000},
                {id: '7', src: 'تجهیزات+پزشکی+.jpg', title: 'تجهیزات پزشکی   شماره یک ', category: 'اجاره', rentTime:'سالیانه', price: 22000000},
                {id: '8', src: 'تجهیزات+پزشکی+.jpg', title: 'تجهیزات پزشکی   شماره یک ', category: 'فروش', price: 12000000},
            ],
            blogs: [
                {id: 1, src: 'news.jpg', title: 'مجله پزشکی شماره یک'},
                {id: 2, src: 'news.jpg', title: 'مجله پزشکی شماره یک'},
                {id: 3, src: 'news.jpg', title: 'مجله پزشکی شماره یک'},
                {id: 4, src: 'news.jpg', title: 'مجله پزشکی شماره یک'},
            ],

        }),
        methods: {

            navigateTo(path) {
                if (this.$router.currentRoute.fullPath.indexOf(path) === -1) {
                    this.$router.push({path: path});
                }
            },
            getImgUrl(pic) {
                return require('../assets/img/' + pic);
            },
        }
    }
</script>

<style scoped>

</style>