<template>
    <div id="loginPage" class="container-fluid has-action-bar has-footer light-gray-bg">
        <ActionBar title="ورود"></ActionBar>
        <div class="container">
        <div class="row">
            <div class="col-12 my-5 d-flex justify-content-center align-items-center">
                <div class="col-12 col-md-10 col-lg-5 card-shadow mx-auto align-items-center p-3 round15px">
                    <div class="w-100 text-center">
                        <h6 class="lightblue-text font16px mt-5">
                            FASTNURSE
                        </h6>
                        <div class="text-right">
                            <h6 class="mb-3 font-weight-bold blue-text">
                                ورود
                            </h6>
                            <div class="mt-3 font12px blue-text">
                                <i class="fas fa-mobile-alt lightblue-text font16px ml-1"></i>
                                موبایل :
                            </div>
                            <v-text-field
                                    filled
                                    dense
                                    :rules="phoneNumberRules"
                                    placeholder="مثلا 09123698521"

                                    type="number">
                            </v-text-field>
                            <div class="mt-1 font12px blue-text">
                                <i class="fas fa-lock primary-text ml-1 lightblue-text"></i>
                                    رمز عبور :
                            </div>
                            <v-text-field
                                    filled
                                    dense
                                    hide-details
                                    placeholder="مثلا 12345"

                                    type="password">
                            </v-text-field>
                            <v-checkbox
                                    label="به خاطر بسپار">
                            </v-checkbox>
                            <!--      <div class="d-flex justify-content-center">
                                      <v-btn class="card-shadow ml-2" @click="navigateTo('Register')"><i
                                              class="fal fa-user font-weight-bold pb-1 pl-1"></i>ثبت نام
                                      </v-btn>
                                      <v-btn class="secondary-gradient-btn">ورود</v-btn>
                                  </div>-->
                            <div class="text-center">
                                <a class="btn-gradient" @click="navigateTo('Register')">
                                    <i class="fal fa-user"></i>
                                    ثبت نام
                                </a>
                                <a class="btn-design-secondary round12px m-2" >
                                    <i class="fas fa-sign-in-alt" title="ورود"></i>
                                    ورود
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <FooterMenu/>
    </div>
</template>

<script>
    import ActionBar from "../components/ActionBar";
    import FooterMenu from "../components/FooterMenu";
    export default {
        name: "Login",
        components: {FooterMenu, ActionBar},
        data: () => ({
            phoneNumberRules: [
                value => (value && value[0] === "0") || 'اولین رقم موبایل با عدد صفر شروع می شود ',
                value => (value && value.length === 11) || 'شماره موبایل 11 رقم است.',
            ],
        }),
        methods: {
            navigateTo(path) {
                if (this.$router.currentRoute.fullPath.indexOf(path) === -1) {
                    this.$router.push({path: path});
                }
            },
        }
    }
</script>

<style scoped>

</style>