<template>
   <div id="maintenance" class="container-fluid has-action-bar has-footer light-gray-bg">
       <ActionBar title="خدمات مراقبت و نگهداری"></ActionBar>
       <div class="container">
           <div class="row d-flex align-items-center">
               <div class="col-md-4 ">
                   <v-autocomplete
                           :items="province"
                           label="استان را انتخاب کنید"
                           dense
                           :menu-props="{ bottom: true, offsetY: true }"
                   ></v-autocomplete>
               </div>
               <div class="col-md-4 ">
                   <v-autocomplete
                           :items="city"
                           label="شهر را انتخاب کنید"
                           dense
                           :menu-props="{ bottom: true, offsetY: true }"
                   ></v-autocomplete>
               </div>
               <div class="col-md-4 ">
                   <v-autocomplete
                           :items="area"
                           label="منطقه را انتخاب کنید"
                           dense
                           :menu-props="{ bottom: true, offsetY: true }"
                   ></v-autocomplete>
               </div>
           </div>
       </div>

       <div class="container">
           <div class="row">
               <div class="col-md-12 d-flex justify-content-between align-items-center px-1">
                   <h5 class="pt-3 pb-3 text-right blue-text">خدمات مراقبت و نگهداری</h5>
               </div>
               <div v-for="item in careServices" :key="item.id" class="col-lg-4 col-md-6 col-12 p-1">
                   <div class="white-bg round10px pr-3">
                       <div class="row">
                           <div class="col-4 p-2">
                               <!-- <img :src="getImgUrl(item.src)" :alt="item.title" class="img-fluid round10px">-->
                               <div class="round10px"
                                    v-bind:style="{ 'background': 'url(' + getImgUrl(item.src) + ') center no-repeat', 'height': '100px' ,'background-size':'cover'}">
                               </div>
                           </div>
                           <div class="col-8 align-items-center justify-content-between d-flex">
                               <span>
                               <span class="font16px blue-text">{{ item.title}}</span>
                                        <br>
                                        <span class="font12px gray-text">{{ item.desc}}</span>
                               </span>
                               <span class="align-items-center d-flex pl-3">
                                       <i class="fas fa-chevron-circle-left font20px gray-text"></i>
                                   </span>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
       <FooterMenu />
   </div>
</template>

<script>
    import ActionBar from "./ActionBar";
    import FooterMenu from "./FooterMenu";

    export default {
        name: "Maintenance",
        components:{ActionBar, FooterMenu},
        data:() => ({
            province: ['تهران', 'اصفهان', 'شیراز', 'تبریز'],
            city:['تهران', 'اسلام شهر', 'دماوند', 'شهریار'],
            area:[1,2,3,4,5],
            careServices: [
                {id: 1, src: 'senior.jpg', title: 'مراقبت سالمندان', desc: 'مراقبت های پزشکی و غیر پزشکی'},
                {id: 2, src: 'child.jpg', title: 'مراقبت کودک', desc: 'نوزاد ، خردسال ، نوجوان'},
                {id: 3, src: 'nursing-home.jpg', title: 'مراقبت بیمار', desc: 'همراه با مشاوره'},
            ],
        }),
        methods:{
            navigateTo(path) {
                if (this.$router.currentRoute.fullPath.indexOf(path) === -1) {
                    this.$router.push({path: path});
                }
            },
            getImgUrl(pic) {
                return require('../assets/img/' + pic);
            },
        }
    }
</script>

<style scoped>

</style>