<template>
    <div id="medicineDelivery" class="container-fluid has-action-bar has-footer light-gray-bg">
        <ActionBar title="تهیه نسخه دارو"></ActionBar>
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-md-4 ">
                    <v-autocomplete
                            :items="province"
                            label="استان را انتخاب کنید"
                            dense
                            :menu-props="{ bottom: true, offsetY: true }"
                    ></v-autocomplete>
                </div>
                <div class="col-md-4 ">
                    <v-autocomplete
                            :items="city"
                            label="شهر را انتخاب کنید"
                            dense
                            :menu-props="{ bottom: true, offsetY: true }"
                    ></v-autocomplete>
                </div>
                <div class="col-md-4 ">
                    <v-autocomplete
                            :items="area"
                            label="منطقه را انتخاب کنید"
                            dense
                            :menu-props="{ bottom: true, offsetY: true }"
                    ></v-autocomplete>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="primary-gradient card-shadow p-3 round15px">
                        <h6>
                            <i class="fal fa-notes-medical"></i>
                            راهنمای ثبت سفارش</h6>
                        <div class="line-height-2 font12px mt-1">

                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است،
                            چاپگرها و متون
                            بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز،
                            وکاربردهای متنوع
                            با هدف بهبود ابزارهای کاربردی می باشد،
                        </div>
                    </div>

                    <div class="m-2">
                        <div class="m-2 d-flex align-items-center">
                            <img src="../assets/img/health-check.png" alt="نسخه" width="60px">
                            <h5 class="p-2">سفارش با عکس نسخه</h5>
                        </div>
                        <div class="m-2">
                            <v-file-input
                                    v-model="files"
                                    placeholder="عکس نسخه خود را آپلود کنید :"
                                    label="عکس نسخه"
                                    multiple
                                    prepend-icon="mdi-paperclip">
                                <template v-slot:selection="{ text }">
                                    <v-chip
                                            small
                                            label
                                            color="primary"
                                    >
                                        {{ text }}
                                    </v-chip>
                                </template>
                            </v-file-input>
                        </div>
                    </div>
                    <div class="text-left">
                        <router-link to="/" class="btn-gradient font14px">
                           ثبت نسخه
                            <i class="fas fa-chevron-left small"></i>
                        </router-link>
                    </div>


                </div>
            </div>
        </div>


        <FooterMenu />
    </div>
</template>

<script>
    import ActionBar from "./ActionBar";
    import FooterMenu from "./FooterMenu";

    export default {
        name: "MedicineDelivery",
        components: {ActionBar, FooterMenu},
        data:() => ({
            province: ['تهران', 'اصفهان', 'شیراز', 'تبریز'],
            city:['تهران', 'اسلام شهر', 'دماوند', 'شهریار'],
            area:[1,2,3,4,5],
        }),
        methods:{
            navigateTo(path) {
                if (this.$router.currentRoute.fullPath.indexOf(path) === -1) {
                    this.$router.push({path: path});
                }
            },
            getImgUrl(pic) {
                return require('../assets/img/' + pic);
            },
        }
    }
</script>

<style scoped>

</style>