<template>
    <div id="medicalStore" class="container-fluid has-action-bar has-footer light-gray-bg">
        <ActionBar title="فروشگاه تجهیزات پزشکی"></ActionBar>
        <div class="container">
            <div class="row">
                <div class="col-md-12 d-flex justify-content-between align-items-center px-1">
                    <h5 class="pt-3 pb-3 text-right blue-text">فروشگاه تجهیزات پزشکی</h5>
                </div>

                <div v-for="item in instruments" :key="item.id" class="col-md-3 col-6 text-center p-1" >
                    <div class="m-1 pointer" @click="gotoProductList(item.id, item.title)">
                        <div class="p-lg-2 p-1 text-center round15px justify-content-center white-bg-simple">
                            <div class="round10px"
                                 v-bind:style="{ 'background': 'url(' + getImgUrl(item.src) + ') center no-repeat', 'height': '150px' ,'background-size':'cover'}">
                            </div>
                            <div class="text-center m-2 text-over-flow-one font16px">
                                {{ item.title }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <FooterMenu/>
    </div>
</template>

<script>
    import ActionBar from "./ActionBar";
    import FooterMenu from "./FooterMenu";

    export default {
        name: "MedicalStore",
        components: {ActionBar, FooterMenu},
        data: () => ({
            instruments: [
                {
                    id: 1,
                    src: 'تجهیزات+پزشکی+.jpg',
                    title: 'دسته بندی شماره 1'},
                {
                    id: 2,
                    src: 'تجهیزات+پزشکی+.jpg',
                    title: 'دسته بندی شماره 2'},
                {
                    id: 3,
                    src: 'تجهیزات+پزشکی+.jpg',
                    title: 'دسته بندی شماره 3'},
                {
                    id: 4,
                    src: 'تجهیزات+پزشکی+.jpg',
                    title: 'دسته بندی شماره 4'},
                {
                    id: 5,
                    src: 'تجهیزات+پزشکی+.jpg',
                    title: 'دسته بندی شماره 5'},
                {
                    id: 6,
                    src: 'تجهیزات+پزشکی+.jpg',
                    title: 'دسته بندی شماره 6'},
                {
                    id: 7,
                    src: 'تجهیزات+پزشکی+.jpg',
                    title: 'دسته بندی شماره 7'},
                {
                    id: 8,
                    src: 'تجهیزات+پزشکی+.jpg',
                    title: 'دسته بندی شماره 8'},
            ],
        }),
        methods: {
            navigateTo(path) {
                if (this.$router.currentRoute.fullPath.indexOf(path) === -1) {
                    this.$router.push({path: path});
                }
            },
            getImgUrl(pic) {
                return require('../assets/img/' + pic);
            },
            gotoProductList(id, title){
                this.$global.medicalStoreTitle = title
                this.$router.push({path: 'ProductList', query :{ProductListID : id}})
            },

        }
    }
</script>

<style scoped>

</style>