<template>
    <div id="nursingServices" class="container-fluid has-action-bar has-footer light-gray-bg">
        <ActionBar title="خدمات پرستاری"></ActionBar>
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-md-4 ">
                    <v-autocomplete
                            :items="province"
                            label="استان را انتخاب کنید"
                            dense
                            :menu-props="{ bottom: true, offsetY: true }"
                    ></v-autocomplete>
                </div>
                <div class="col-md-4 ">
                    <v-autocomplete
                            :items="city"
                            label="شهر را انتخاب کنید"
                            dense
                            :menu-props="{ bottom: true, offsetY: true }"
                    ></v-autocomplete>
                </div>
                <div class="col-md-4 ">
                    <v-autocomplete
                            :items="area"
                            label="منطقه را انتخاب کنید"
                            dense
                            :menu-props="{ bottom: true, offsetY: true }"
                    ></v-autocomplete>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center p-0">
                <v-tabs
                        v-model="tab"
                        class="bg-trans"
                        light
                        right
                        align-with-title>
                    <v-tab
                            v-for="item in items"
                            :key="item"
                            class="font20px white-bg m-lg-2 m-1 p-lg-2 p-2 text-center round12px justify-content-center">
                        <div> {{ item.title}}</div>
                    </v-tab>
                </v-tabs>

                <v-tabs-items
                        v-model="tab"
                        class="bg-trans">
                    <v-tab-item
                            v-for="item in services"
                            :key="item.id" class="col-lg-4 col-md-6 col-12 pointer" @click="goToNursingServiceDetails(item.id , item.title)">
                        <div class="white-bg round10px pl-3 pr-3" >
                            <div class="row">
                                <div class="col-4">
                                    <!-- <img :src="getImgUrl(item.src)" :alt="item.title" class="img-fluid round10px">-->
                                     <div class="round10px"
                                          v-bind:style="{ 'background': 'url(' + getImgUrl(item.src) + ') center no-repeat', 'height': '100px' ,'background-size':'contain'}">
                                     </div>
                                </div>
                                <div class="col-8 align-items-center justify-content-between">
                                    <h6 class="font16px blue-text title-height text-over-flow">
                                        {{ item.title}}
                                    </h6>
                                    <span class="gray-text font12px">
                                        {{item.category}}
                                    </span>
                                    <span class="gray-text font12px">
                                        |
                                    </span>
                                    <span class="gray-text font12px">
                                        {{ item.subcategory}}
                                    </span>

                                    <div class="text-right line-height-2 price">
                                        {{ item.price}}
                                        تومان
                                    </div>
                                    <span class="align-items-center d-flex font12px lightblue-text text-left float-left">
                                اطلاعات بیشتر
                                <i class="fas fa-chevron-circle-left  mr-1"></i>
                            </span>
                                </div>
                            </div>
                        </div>
                    </v-tab-item>
                </v-tabs-items>

                <!--    <carouselLtr
                            :autoplay="false"
                            :dots="false"
                            :nav="false"
                            :responsive="{0:{items:2,nav:false,stagePadding:15},600:{items:4,nav:false},900:{items:4,nav:false},1000:{items:7,nav:false}}">

                        <div v-for="item in categories" :key="item.id" >
                            <div class="white-bg m-lg-2 m-1 p-lg-2 p-2 text-center round15px justify-content-center">
                                <div class="d-block text-center ">
                                    {{ item.title }}
                                </div>
                            </div>
                            &lt;!&ndash;<div class="text-center mt-3 font11px category-label">{{ item.title }}</div>&ndash;&gt;
                        </div>
                    </carouselLtr>-->

            </div>
        </div>

        <div class="row">
            <div v-for="item in services" :key="item.tab" class="col-lg-4 col-md-6 col-12">
                <div class="white-bg round10px pl-3 pr-3">
                    <div class="row">
                        <div class="col-4">
                            <!-- <img :src="getImgUrl(item.src)" :alt="item.title" class="img-fluid round10px">-->
                            <div class="round10px"
                                 v-bind:style="{ 'background': 'url(' + getImgUrl(item.src) + ') center no-repeat', 'height': '100px' ,'background-size':'contain'}">
                            </div>
                        </div>
                        <div class="col-8 align-items-center justify-content-between">
                            <h6 class="font16px blue-text title-height text-over-flow">
                                {{ item.title}}
                            </h6>
                            <span class="gray-text font12px">
                                {{ item.category}}
                            </span>
                            <span class="gray-text font12px">
                                |
                            </span>
                            <span class="gray-text font12px">
                                {{ item.subcategory}}
                            </span>

                            <div class="text-right line-height-2 price">
                                {{$numberWithCommas(item.price) }} تومان
                            </div>
                            <span class="align-items-center d-flex font12px lightblue-text text-left float-left">
                                اطلاعات بیشتر
                                <i class="fas fa-chevron-circle-left  mr-1"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <FooterMenu/>
    </div>
</template>

<script>
    import ActionBar from "./ActionBar";
    import FooterMenu from "./FooterMenu";

    /*  import carouselLtr from 'vue-owl-carousel';*/

    export default {
        name: "NursingServices",
        components: {ActionBar, FooterMenu,/* carouselLtr*/},


        data: () => ({
            isLoaded: true,
            tab: null,

            province: ['تهران', 'اصفهان', 'شیراز', 'تبریز'],
            city: ['تهران', 'اسلام شهر', 'دماوند', 'شهریار'],
            area: [1, 2, 3, 4, 5],
            categories: [
                {id: 1, src: 'serum.png', title: 'سرم تراپی',},
                {id: 2, src: 'syringe.png', title: 'تزریقات'},
                {id: 3, src: 'scissors.png', title: 'کشیدن بخیه'},
                {id: 4, src: 'serum.png', title: 'سرم تراپی'},
                {id: 5, src: 'syringe.png', title: 'تزریقات'},
                {id: 6, src: 'scissors.png', title: 'کشیدن بخیه'},
                {id: 7, src: 'serum.png', title: 'سرم تراپی'},
                {id: 8, src: 'syringe.png', title: 'تزریقات'},
            ],
            services: [
                {
                    id: '1',
                    src: 'syringe.png',
                    title: 'تزریقات (تنها یه تزریق)',
                    category: 'خدمات پرستاری',
                    subcategory: 'تزریقات',
                    price: 144000,
                },
                {
                    id: '2',
                    src: 'syringe.png',
                    title: 'تزریقات (تنها یه تزریق)',
                    category: 'خدمات پرستاری',
                    subcategory: 'تزریقات',
                    price: 144000,
                },
                {
                    id: '3',
                    src: 'syringe.png',
                    title: 'تزریقات (تنها یه تزریق)',
                    category: 'خدمات پرستاری',
                    subcategory: 'تزریقات',
                    price: 144000,
                },
            ],
            items: [
                {id: 1, src: 'serum.png', title: 'سرم تراپی'},
                {id: 2, src: 'syringe.png', title: 'تزریقات'},
                {id: 3, src: 'scissors.png', title: 'کشیدن بخیه'},
                {id: 4, src: 'serum.png', title: 'سرم تراپی'},
                {id: 5, src: 'syringe.png', title: 'تزریقات'},
                {id: 6, src: 'scissors.png', title: 'کشیدن بخیه'},
                {id: 7, src: 'serum.png', title: 'سرم تراپی'},
                {id: 8, src: 'syringe.png', title: 'تزریقات'},
            ],
        }),

        mounted() {
            this.initData()
        },

        methods: {
            navigateTo(path) {
                if (this.$router.currentRoute.fullPath.indexOf(path) === -1) {
                    this.$router.push({path: path});
                }
            },

            getImgUrl(pic) {
                return require('../assets/img/' + pic);
            },

            goToNursingServiceDetails(id, title){
                this.$global.nursingServiceDetailsTitle = title
                this.$router.push({path: 'NursingServiceDetails', query :{NursingServiceDetailsID : id}})
            },

            initData() {
                this.isLoaded = true;
            },

        }

    }
</script>

<style scoped>

</style>
