<template>
    <div id="nursingServiceDetails" class="container-fluid has-action-bar has-footer light-gray-bg">
        <ActionBar :title="title"></ActionBar>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="p-lg-3">
                        <div class="row card-shadow round15px justify-content-center align-items-center d-flex p-3">
                            <div class="col-md-1 col-4 justify-content-center align-items-center">
                                <v-img :alt="title" :src="getImgUrl(src)" cover height="100%" class="img-fluid">

                                </v-img>
                            </div>
                            <div class="col-md-11 col-8 text-right justify-content-center align-items-center black-text">
                                <h5>
                                    {{ title}}
                                </h5>
                                <div class="justify-content-between align-items-center d-flex my-4 discount-height">
                                    <div class="align-items-center h6 lightblue-text">
                                        هزینه روزانه :
                                        {{$numberWithCommas(price) }} تومان
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 font14px text-right black-text">
                                <hr class="m-0">
                                <span class="d-block font10px gray-text">دسته بندی :</span>

                                {{ category}}
                            </div>
                            <div class="col-md-12 font14px text-justify black-text">
                                <hr class="m-0">
                                <span class="d-block font10px gray-text">توضیحات :</span>

                                {{ desc}}
                            </div>
                            <div class="col-md-12 font14px text-right">
                                <hr class="m-0">
                                <span class="d-block font12px gray-text">
                                <v-checkbox
                                     label="نیاز به مشاوره"
                                     color="success"
                                     value
                                     input-value="true"
                                     hide-details>
                                </v-checkbox>
                                </span>

                                <span class="d-block font14px black-text mt-2">
                                    <i class="fas fa-check-square ml-2 mr-1 font20px"></i>
                                 مشاوره بعد از ثبت سفارش
                                </span>
                            </div>

                            <div class="col-md-12 font12px text-right">
                                <hr>
                                <div class="text-right fourth-text font12px font-weight-bold">
                                    <span class="d-block font-weight-light gray-text">به سفارشات خود اضافه کنید :</span>

                                </div>
                                <div class="justify-content-between align-items-center d-lg-flex py-2">
                                    <div class="text-center px-2">
                                        <v-text-field
                                                v-model="num"
                                                append-icon="mdi-minus-thick"
                                                class="add-order-btn px-0 text-center"
                                                label="تعداد مورد نظر"
                                                dense
                                                hide-details
                                                prepend-inner-icon="mdi-plus-thick"
                                                readonly

                                                @click:append="minusOrder()"
                                                @click:prepend-inner="addOrder()">
                                        </v-text-field>
                                    </div>
                                    <div class="pt-5 text-left">
                                        <a class="btn-design-secondary"><i class="fas fa-shopping-cart ml-1"></i><span
                                                class="font12px">ثبت سفارش</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <FooterMenu />
    </div>
</template>

<script>
    import ActionBar from "./ActionBar";
    import FooterMenu from "./FooterMenu";

    export default {
        name: "NursingServiceDetails",
        components: {FooterMenu, ActionBar},

        data:() => ({
            num: null,
            title: null,
            src: 'syringe.png',
            category: 'خدمات پرستاری',
            subcategory: 'تزریقات',
            desc:'لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، وکاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد',
            price: 12000000
        }),
        mounted() {
            this.title = this.$global.nursingServiceDetailsTitle
        },
        methods:{
          getImgUrl(pic){
              return require('../assets/img/' + pic)
          },
            minusOrder() {
                if (this.num > 0) {
                    this.num--
                }
            },
            addOrder() {
                this.num++
            },

        },

    }
</script>

<style scoped>

</style>