<template>
    <div id="ProductDetails" class="container-fluid has-action-bar has-footer light-gray-bg">
        <ActionBar :title="title"></ActionBar>
        <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="p-2">
                    <div class="row card-shadow round15px justify-content-center align-items-center d-flex p-3">
                        <div class="col-md-6 col-12 justify-content-center align-items-center">
                            <v-img :alt="title" :src="getImgUrl(src)" cover height="100%" class="img-fluid">

                            </v-img>
                        </div>
                        <div class="col-md-6 col-12 text-right justify-content-center align-items-center">
                            <h5>
                                {{ title}}
                            </h5>
                            <hr>
                            <div class="justify-content-between align-items-center d-flex mx-1 discount-height">
                                <div class="align-items-center">
                                    <div v-if="discount !== 0">
                                        <div class="primary-text text-right line-height-2 price font20px">
                                            {{$computingPriceOffer(price, discount) }} تومان
                                        </div>
                                        <div :class="checkOffPrice(discount)"
                                             class="text-right line-height-2 discount">
                                            {{$numberWithCommas(price) }} تومان
                                        </div>
                                    </div>
                                    <div v-else class="text-right line-height-2 price font20px">
                                        {{$numberWithCommas(price) }} تومان
                                    </div>
                                </div>
                                <div class="align-items-center">
                                    <div class="discount-wrapper">
                                        تخفیف
                                        {{ discount}}%
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="text-right fourth-text font12px font-weight-bold">
                                <span class="d-block font-weight-light gray-text">دسته بندی :</span>
                                {{ category }}
                            </div>
                            <hr>
                            <div class="text-right fourth-text font12px font-weight-bold ">
                                <span class="d-block font-weight-light gray-text">توضیحات :</span>
                                {{ text }}
                            </div>
                            <hr>
                            <div class="text-right fourth-text font12px font-weight-bold">
                                <span class="d-block font-weight-light gray-text">به سبد خرید خود اضافه کنید :</span>

                            </div>
                            <div class="justify-content-between align-items-center d-lg-flex py-2">
                                <div class="text-center px-2">
                                    <v-text-field
                                            v-model="num"
                                            append-icon="mdi-minus-thick"
                                            class="add-order-btn px-0 text-center"
                                            label="تعداد مورد نظر"
                                            dense
                                            hide-details
                                            prepend-inner-icon="mdi-plus-thick"
                                            readonly

                                            @click:append="minusOrder()"
                                            @click:prepend-inner="addOrder()">
                                    </v-text-field>
                                </div>
                                <div class="pt-5">
                                    <a class="btn-design-secondary"><i class="fas fa-shopping-cart ml-1"></i><span
                                            class="font12px">افزودن به سبد خرید</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <FooterMenu/>
    </div>
</template>

<script>
    import ActionBar from "./ActionBar";
    import FooterMenu from "./FooterMenu";
    export default {
        name: "ProductDetails",
        components:{
            ActionBar,
            FooterMenu,
        },
        data:() =>({
            title: null,
            num: 0,
            src: 'تجهیزات+پزشکی+.jpg',
            text:'لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، وکاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باش',
            category: 'اجاره',
            price: 311000,
            discount: 10
        }),

        mounted() {
            this.title = this.$global.productListTitle

        },
        methods:{
            getImgUrl(pic) {
                return require('../assets/img/' + pic)
            },
            checkOffPrice(offPrice) {
                if (offPrice !== 0)
                    return 'discount';
            },
            minusOrder() {
                if (this.num > 0) {
                    this.num--
                }
            },
            addOrder() {
                this.num++
            },
        }

    }
</script>

<style scoped>

</style>