<template>
    <div id="productList" class="container-fluid has-action-bar has-footer light-gray-bg">
        <ActionBar :title="title"></ActionBar>
        <div class="container">
            <div class="row">
                <div v-for="item in instruments" :key="item.id" class="col-md-3 col-6 p-0">
                    <div class=" m-lg-2 m-1 p-lg-2 p-1 round15px justify-content-center white-bg-simple pointer" @click="goToProductDetails(item.id, item.title)">
                        <div class="round10px"
                             v-bind:style="{ 'background': 'url(' + getImgUrl(item.src) + ') center no-repeat', 'height': '150px' ,'background-size':'cover'}">
                        </div>
                        <div class="text-center title-services mt-2 text-over-flow blue-text font16px">
                            {{ item.title }}
                        </div>
                        <span class="gray-text text-right">
                            {{ item.category}}
                        </span>
                        <span class="gray-text text-right">
                            {{ item.rentTime}}
                        </span>
                        <div>
                            {{ item.desc}}
                        </div>
                        <div class="primary-text text-right line-height-2 price font16px lightblue-text">
                            <span class="font12px gray-text">قیمت :</span>

                            {{$numberWithCommas(item.price) }} تومان
                        </div>
                        <div class="align-items-center d-block font12px lightblue-text text-left" @click="goToProductDetails(item.id, item.title)">
                                اطلاعات بیشتر
                                <i class="fas fa-chevron-circle-left  mr-1"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <FooterMenu/>
    </div>
</template>

<script>
    import ActionBar from "./ActionBar";
    import FooterMenu from "./FooterMenu";
    export default {
        name: "ProductList",
        components:{
            ActionBar,
            FooterMenu,
        },
        data:() => ({
            title: null,
            instruments: [
                {
                    id: '1',
                    src: 'تجهیزات+پزشکی+.jpg',
                    title: 'تجهیزات پزشکی   شماره یک ',
                    category: 'فروش',
                    price: 12000000
                },
                {
                    id: '2',
                    src: 'تجهیزات+پزشکی+.jpg',
                    title: 'تجهیزات پزشکی   شماره دو ',
                    category: 'اجاره',
                    rentTime:'سالیانه',
                    price: 22000000
                },
                {
                    id: '3',
                    src: 'تجهیزات+پزشکی+.jpg',
                    title: 'تجهیزات پزشکی   شماره سه ',
                    category: 'اجاره',
                    rentTime:'ماهیانه',
                    price: 12000000
                },
                {id: '4', src: 'تجهیزات+پزشکی+.jpg', title: 'تجهیزات پزشکی   شماره چهار ', category: 'فروش', price: 12000000},
                {id: '5', src: 'تجهیزات+پزشکی+.jpg', title: 'تجهیزات پزشکی   شماره پنج ', category: 'اجاره', rentTime:'ماهیانه', price: 12000000},
                {id: '6', src: 'تجهیزات+پزشکی+.jpg', title: 'تجهیزات پزشکی   شماره شش ', category: 'فروش', price: 12000000},
                {id: '7', src: 'تجهیزات+پزشکی+.jpg', title: 'تجهیزات پزشکی   شماره هفت ', category: 'اجاره', rentTime:'سالیانه', price: 22000000},
                {id: '8', src: 'تجهیزات+پزشکی+.jpg', title: 'تجهیزات پزشکی   شماره هشت ', category: 'فروش', price: 12000000},
            ],
        }),
        mounted() {
            this.title = this.$global.medicalStoreTitle

        },
        methods: {

            navigateTo(path) {
                if (this.$router.currentRoute.fullPath.indexOf(path) === -1) {
                    this.$router.push({path: path});
                }
            },

            getImgUrl(pic) {
                return require('../assets/img/' + pic);
            },

            goToProductDetails(id, title){
                this.$global.productListTitle = title
                this.$router.push({path: 'ProductDetails', query :{ProductDetailsID : id}})
            },

        }

    }
</script>

<style scoped>

</style>