<template>
    <div id="profile" class="container-fluid has-action-bar has-footer light-gray-bg">
        <ActionBar title="پروفایل من"></ActionBar>
        <div class="container">
            <div class="row">
                <div class="col-md-12 mx-auto p-1">
                    <h5>
                        <i class="fal fa-notes-medical font20px"></i>
                        اطلاعات کاربری
                    </h5>
                    <a href="#">
                        ویرایش اطلاعات کاربری
                    </a>
                    <div class="white-bg-simple card-shadow p-3 mt-5 round15px">
                        <div class="row line-height-2 font12px align-items-center">
                            <div class="col-md-2">
                                <v-img src="../assets/img/profile-user.png" width="80px" height="80px"
                                       class="img-fluid mx-auto">
                                </v-img>
                            </div>
                            <div class="col-md-10">
                                <div class="font16px blue-text">
                                <span class="font12px gray-text">
                                    <i class="fas fa-user"></i>
                                    نام و نام خانوادگی :
                                </span>
                                    الهام مبینی
                                </div>
                                <div class="font16px blue-text mt-2">
                                <span class="font12px gray-text ">
                                    <i class="fas fa-phone"></i>
                                    شماره موبایل :
                                </span>
                                    09123658965
                                </div>
                                <div class="font16px blue-text mt-2">
                                <span class="font12px gray-text">
                                    <i class="fas fa-map-marker"></i>
                                    آدرس :
                                </span>
                                    تهران - نیاوران - کوچه اول
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>


                    <div class="row mx-auto justify-content-center">
                        <div v-for="item in reports" :key="item.id" class="col-lg-6 col-12 p-1 mt-2">
                            <div class="white-bg-simple round10px d-flex align-items-center justify-space-between p-3">
                                <div class="">
                                    <img :src="getImgUrl(item.src)" :alt="item.title" width="60px">
                                    <span class="font16px mr-3">
                                        {{ item.title}}
                                    </span>
                                </div>
                                <div class="justify-space-between d-flex">
                            <span class="justify-space-between d-flex">
                                <i class="fas fa-chevron-circle-left font20px gray-text"></i>
                            </span>
                                </div>
                            </div>
                        </div>
                    </div>

            </div>
        </div>
        <FooterMenu/>
    </div>
</template>

<script>
    import ActionBar from "./ActionBar";
    import FooterMenu from "./FooterMenu";

    export default {
        name: "Profile",
        components: {ActionBar, FooterMenu},
        data: () => ({
            reports:[
                {
                    id:1,
                    src:'folder.png',
                    title:'گزارش سفارشات خدمات',
                },
                {
                    id:2,
                    src:'folder.png',
                    title:'گزارش تهیه دارو',
                },
                {
                    id:3,
                    src:'folder.png',
                    title:'گزارش سفارشات فروشگاه',
                },
                {
                    id:4,
                    src:'folder.png',
                    title:'گزارش آزمایش',
                },
                {
                    id:2,
                    src:'folder.png',
                    title:'گزارش تراکنش ها',
                },
            ]
        }),
        methods: {
            getImgUrl(pic) {
                return require("../assets/img/" + pic)
            },
        }
    }
</script>

<style scoped>

</style>