<template>
    <div id="registerPage" class="container-fluid has-action-bar has-footer light-gray-bg">
        <ActionBar title="ثبت نام"></ActionBar>
        <div class="container">
            <div class="row">
                <div class="col-12 my-5 d-flex justify-content-center align-items-center">
                    <div class="col-12 col-md-10 col-lg-5 card-shadow mx-auto align-items-center p-3 round15px">
                        <h6 class="lightblue-text font16px mt-5 text-center">
                            FASTNURSE
                        </h6>
                        <div class="w-100 text-center">

                            <div class="text-right">
                                <h6 class="mb-3 font-weight-bold blue-text">
                                    ثبت نام
                                </h6>
                                <div class="mt-3 font12px blue-text ">
                                    <i class="fas fa-user lightblue-text font16px ml-1"></i>
                                    نام :
                                </div>
                                <v-text-field
                                        filled
                                        dense

                                        placeholder="مثلا علی"
                                        type="text">
                                </v-text-field>
                                <div class="mt-3 font12px blue-text">
                                    <i class="fas fa-user lightblue-text font16px ml-1"></i>
                                    نام خانوادگی :
                                </div>
                                <v-text-field
                                        filled
                                        dense

                                        placeholder="مثلا احمدی"
                                        type="text">
                                </v-text-field>
                                <div class="mt-3 font12px blue-text">
                                    <i class="fas fa-mobile-alt lightblue-text font16px ml-1"></i>
                                    موبایل :
                                </div>
                                <v-text-field
                                        filled
                                        dense
                                        :rules="phoneNumberRules"
                                        placeholder="مثلا 09121234567"
                                        type="number">
                                </v-text-field>
                                <a class="btn-design-secondary round12px text-center d-block">
                                      دریافت کد
                                </a>
                                <div class="mt-3 font12px blue-text">
                                    <i class="fas fa-lock primary-text ml-1 lightblue-text"></i>
                                    کد دریافتی را وارد کنید :
                                </div>
                                <v-text-field
                                        filled
                                        dense
                                        hide-details
                                        placeholder="مثلا 12345"
                                        type="password">
                                </v-text-field>
                                <!--      <div class="d-flex justify-content-center">
                                          <v-btn class="card-shadow ml-2" @click="navigateTo('Register')"><i
                                                  class="fal fa-user font-weight-bold pb-1 pl-1"></i>ثبت نام
                                          </v-btn>
                                          <v-btn class="secondary-gradient-btn">ورود</v-btn>
                                      </div>-->
                                <div class="text-center mt-3">
                                    <a class="btn-gradient" @click="navigateTo('Register')">
                                        <i class="fal fa-user"></i>
                                        ثبت نام
                                    </a>
                              <!--      <a class="light-bg round12px p-2 m-2" @click="navigateTo('Login')">
                                        <i class="fas fa-sign-in-alt" title="ورود"></i>
                                        ورود
                                    </a>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <FooterMenu/>
    </div>
</template>

<script>
    import ActionBar from "../components/ActionBar";
    import FooterMenu from "../components/FooterMenu";
    export default {
        name: "Login",
        components: {FooterMenu, ActionBar},
        data: () => ({
            phoneNumberRules: [
                value => (value && value[0] === "0") || 'اولین رقم موبایل با عدد صفر شروع می شود ',
                value => (value && value.length === 11) || 'شماره موبایل 11 رقم است.',
            ],
        }),
        methods: {
            navigateTo(path) {
                if (this.$router.currentRoute.fullPath.indexOf(path) === -1) {
                    this.$router.push({path: path});
                }
            },
        }
    }
</script>

<style scoped>

</style>