<template>
    <v-navigation-drawer
            v-model="drawer"
            class="nav-draw"
            fixed
            right
            style="height:100vh !important;"
            temporary>
        <div class="row py-3 text-center my-2 mb-5 pb-5 ">
            <div class="col-12">
                <div class="nav flex-sm-column flex-row">
                    <div class="col-12">
                        <div class="row drawerItemsWrapper align-items-center primary-text light-gray-top-border mt-5">
                            <div class="col-3 py-0 text-center">
                                <i class="fas fa-home"></i>
                            </div>
                            <div class="col-9 text-right py-2">
                                <router-link to="/Home">خانه</router-link>
                            </div>
                        </div>
                        <div class="row drawerItemsWrapper align-items-center primary-text">
                            <div class="col-3 py-0 text-center">
                                <i class="fas fa-user"></i>
                            </div>
                            <div class="col-9 text-right py-2">
                                <router-link to="/Profile">پروفایل</router-link>
                            </div>
                        </div>

                        <div class="row drawerItemsWrapper align-items-center primary-text">
                            <div class="col-3 py-0 text-center">
                                <i class="fas fa-file-alt"></i>
                            </div>
                            <div class="col-9 text-right py-2">
                                <router-link to="/store">فروشگاه</router-link>
                            </div>
                        </div>
                        <div class="row drawerItemsWrapper align-items-center primary-text">
                            <div class="col-3 py-0 text-center">
                                <i class="fas fa-file-chart-line"></i>
                            </div>
                            <div class="col-9 text-right py-2">
                                <router-link to="/">رویداد ها</router-link>
                            </div>
                        </div>
                        <div class="row drawerItemsWrapper align-items-center primary-text">
                            <div class="col-3 py-0 text-center">
                                <i class="fas fa-hashtag"></i>
                            </div>
                            <div class="col-9 text-right py-2">
                                <router-link to="/">شبکه های اجتماعی</router-link>
                            </div>
                        </div>
                        <div class="row drawerItemsWrapper align-items-center primary-text">
                            <div class="col-3 py-0 text-center">
                                <i class="fas fa-pen-square"></i>
                            </div>
                            <div class="col-9 text-right py-2">
                                <router-link to="/">شکایات</router-link>
                            </div>
                        </div>
                        <div class="row drawerItemsWrapper align-items-center primary-text" >
                            <div class="col-3 py-0 text-center">
                                <i class="fas fa-star"></i>
                            </div>
                            <div class="col-9 text-right py-2">
                                <router-link to="/">انتقادات و پیشنهادات</router-link>
                            </div>
                        </div>
                        <div class="row drawerItemsWrapper align-items-center primary-text" >
                            <div class="col-3 py-0 text-center">
                                <i class="fas fa-clipboard-list-check"></i>
                            </div>
                            <div class="col-9 text-right py-2">
                                <router-link to="/">قوانین و مقررات</router-link>
                            </div>
                        </div>
                        <div class="row drawerItemsWrapper align-items-center primary-text">
                            <div class="col-3 py-0 text-center">
                                <i class="fas fa-info-square"></i>
                            </div>
                            <div class="col-9 text-right py-2">
                                <router-link to="/">درباره ما</router-link>
                            </div>
                        </div>
                        <div class="row drawerItemsWrapper align-items-center primary-text" >
                            <div class="col-3 py-0 text-center">
                                <i class="fas fa-phone-square"></i>
                            </div>
                            <div class="col-9 text-right py-2">
                                <router-link to="/">تماس با ما</router-link>
                            </div>
                        </div>


                        <!--    <div class="row drawerItemsWrapper px-3 align-items-center primary-text" @click="signOut">
                              <div class="col-3 py-0 text-center">
                                <i class="fal fa-sign-out"></i>
                              </div>
                              <div class="col-9 text-right">
                                <label>خروج</label>
                              </div>
                            </div>-->
                    </div>
                </div>
            </div>
        </div>

    </v-navigation-drawer>
</template>

<script>
    export default {
        name: "SidebarNavigation",
        props: {
            drawer: Boolean,
        },
        data: () => ({

        }),

        methods: {
            navigateTo(path) {
                if (this.$router.currentRoute.fullPath.indexOf(path) === -1) {
                    this.$router.push({path: path});
                }
            },
        }
    }
</script>

<style scoped>

</style>