<template>
   <div id="therapyServices" class="container-fluid has-action-bar has-footer light-gray-bg">
      <ActionBar title="خدمات توانبخشی و گفتار درمانی"></ActionBar>
      <div class="container">
         <div class="row d-flex align-items-center">
            <div class="col-md-4 ">
               <v-autocomplete
                       :items="province"
                       label="استان را انتخاب کنید"
                       dense
                       :menu-props="{ bottom: true, offsetY: true }"
               ></v-autocomplete>
            </div>
            <div class="col-md-4 ">
               <v-autocomplete
                       :items="city"
                       label="شهر را انتخاب کنید"
                       dense
                       :menu-props="{ bottom: true, offsetY: true }"
               ></v-autocomplete>
            </div>
            <div class="col-md-4 ">
               <v-autocomplete
                       :items="area"
                       label="منطقه را انتخاب کنید"
                       dense
                       :menu-props="{ bottom: true, offsetY: true }"
               ></v-autocomplete>
            </div>
         </div>
      </div>
      <div class="container">
         <div class="row">
            <div class="col-md-12 d-flex justify-content-between align-items-center px-1">
               <h5 class="pt-3 pb-3 text-right blue-text">خدمات توانبخشی و گفتار درمانی</h5>
            </div>
            <div v-for="item in therapyServices" :key="item.id" class="col-lg-4 col-md-6 col-12 p-1">
               <div class="white-bg round10px pl-3 pr-3">
                  <div class="row">
                     <div class="col-4 p-2">
                        <!-- <img :src="getImgUrl(item.src)" :alt="item.title" class="img-fluid round10px">-->
                        <div class="round10px"
                             v-bind:style="{ 'background': 'url(' + getImgUrl(item.src) + ') center no-repeat', 'height': '115px' ,'background-size':'cover'}">
                        </div>
                     </div>
                     <div class="col-8 p-2">
                        <span class="font16px blue-text title-height d-block">{{ item.title}}</span>
                        <span class="align-items-center  pl-3 gray-text font12px text-over-flow-one">
                           {{ item.desc}}
                        </span>
                        <span class="align-items-center d-flex font12px lightblue-text text-left float-left">
                                مشاهده
                                <i class="fas fa-chevron-circle-left  mr-1"></i>
                            </span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <FooterMenu/>
   </div>
</template>

<script>
   import ActionBar from "./ActionBar";
   import FooterMenu from "./FooterMenu";
    export default {
       name: "TherapyServices",
       components:{
           ActionBar,
          FooterMenu
       },
       data:() => ({
          province: ['تهران', 'اصفهان', 'شیراز', 'تبریز'],
          city:['تهران', 'اسلام شهر', 'دماوند', 'شهریار'],
          area:[1,2,3,4,5],
          therapyServices: [
             {id: 1, src: 'senior.jpg', title: 'فیزیوتراپی در منزل', desc:'پیگیری، تشخیص علائم (با مشاوره اجباری)'},
             {id: 2, src: 'child.jpg', title: 'کار درمانی در منزل', desc:'پیگیری، تشخیص علائم (با مشاوره اجباری)'},
             {id: 3, src: 'nursing-home.jpg', title: 'گفتار درمانی در منزل', desc:'پیگیری، تشخیص علائم (با مشاوره اجباری)'},
          ],
       }),
       methods:{
          navigateTo(path) {
             if (this.$router.currentRoute.fullPath.indexOf(path) === -1) {
                this.$router.push({path: path});
             }
          },
          getImgUrl(pic) {
             return require('../assets/img/' + pic);
          },
       }
    }
</script>

<style scoped>

</style>