:root {
    --primary-color: #0400D0;
    --secondary-color: #C1035B;
    --third-color: #313759;
    --fourth-color: #8f9093;
    --gradient: radial-gradient(circle at 50% 0%, rgba(90, 104, 251, 1) 0%, rgba(4, 0, 208, 1) 100%);
    --gray-bg: #e9f0ff;
    --light-gray: #ecf2ff;
    --light-bg: #9FB9F1;
    --dark-bg:#1c1c1c;
    --black:rgba(0,0,0,0.6)
}

@font-face {
    font-family: "IRANSans2";
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/IRANSansWeb_Medium.eot);
    src: url(../fonts/IRANSansWeb_Medium.eot?#iefix) format('embedded-opentype'),  /* IE6-8 */
    url(../fonts/IRANSansWeb_Medium.woff2) format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url(../fonts/IRANSansWeb_Medium.woff) format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url(../fonts/IRANSansWeb_Medium.ttf) format('truetype');
}
*, body {
    font-family: IRANSans2;
}
body {
    overflow-x: hidden;
    background-color: var(--light-gray) !important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    line-height: 30px !important;
    margin: 0 !important;
}

.v-application a {
    color: unset ;
}
.v-label {
    font-size: 14px !important;
    line-height: 1;
    min-height: 8px;
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
}

* {
    font-size: 12px;
    line-height: 31px;
    margin: 0;
    padding: 0;

}
.m-3{
    padding: 0px 15px;
}

.light-gray-bg{
    background-color: var(--light-gray) !important;
    min-height: 800px;
}
a:hover{
    text-decoration: none !important;
}
.dark-bg {
    background-color: var(--gray-bg);
}

.lightblue-text {
    color: var(--primary-color) !important;

}
.theme--light.v-tabs > .v-tabs-bar {
    background: #ecf2ff !important;
}
.light-bg {
    color: var(--primary-color) !important;
    background-color: var(--light-bg) !important;
}
.theme--light.v-tabs .v-tab--active:hover {

    border-radius: 12px !important;
}
.v-tab{
    letter-spacing: normal !important;
    font-size: 20px !important;
}
.bg-trans{
    background: #ecf2ff !important;
}
.card-shadow{
    background-color: #fff;
}
.primary-gradient {
    background-image: var(--gradient);
    color: white !important;
}
.discount-wrapper {
    background: var(--gradient);
    margin: 0px;
    padding: 0px 10px;
    border-radius: 0 50px 50px;
    color: #fff;
    line-height: 33px;
    height: 32px;
}
.btn-design-secondary {
    color: var(--primary-color) !important;
    border-radius: 8px;
    padding: 10px 16px !important;
    background: var(--light-bg);

/*    box-shadow: 2px 2px 4px rgba(6, 6, 6, 0.16), -2px -2px 4px #ffffff;*/
    transition: .4s !important;
}
.price {
    color: var(--primary-color);
}

.discount {
    text-decoration: line-through;
    font-size: 12px;
    color: var(--fourth-color);
}
.white-bg{
    background-color: #fff;
    align-items: center;
    display: grid;
}

.img-categories{
    width: 80px !important;
}
.gray-text {
    color: var(--fourth-color) !important;
}
.black-text{
    color: var(--black) !important;
}
.title-height{
    line-height: 2 !important;
    text-align: right !important;
    min-height: 50px;
}
.bg-music {
   /* background-image: url("../img/");*/
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}
.pointer{
    cursor: pointer !important;
}
.icon-shadow{
    color: var(--fourth-color);
}
.dark-bg{
    background-color: var(--dark-bg) !important;
}
.blue-text{
    color: var(--third-color) !important;
}
.fourth-color-text {
    color: var(--fourth-color);
}
.has-action-bar{
    padding-top: 0px;
}
.has-footer {
    padding-bottom: 115px !important;
}
#home.has-action-bar{
    padding-top: 0px;
}
.font10px {
    font-size: 11px;
}
.font12px {
    font-size: 12px;
}
.font14px{
    font-size: 14px;
}
.font16px {
    font-size: 15px !important;
}

.font19px {
    font-size: 18px;
}

.font20px {
    font-size: 20px;
}

.font24px {
    font-size: 24px;
}

.line-height-2 {
    line-height: 2;
}

.font22px {
    font-size: 22px;
}

.font14px {
    font-size: 14px;
}
.services-height{
    min-height: 160px;
}

.img-services {


}
.title-services {
    font-size: 14px;
    color: #313759;
    height: 70px;
}
.v-btn__content {
    transform: translateY(2px);
}
.v-application--is-ltr .v-text-field .v-label {
    transform-origin: top right;
    right: 0px;
}
.height-desc {
    min-height: 155px !important;
}

.btn-gradient {
    padding: 6px 14px !important;
    background-image: var(--gradient) !important;
    border-radius: 12px !important;
    line-height: 30px !important;
 /*   height: 50px !important;*/
    display: inline-block;
    color: #fff !important;
    font-weight: unset !important;
    letter-spacing: unset !important;
}

.round {
    border-radius: 15px;
}

.round5px {
    border-radius: 5px;
}

.round15px {
    border-radius: 15px;
}
.round12px {
    border-radius: 12px;
}

.v-input .v-label {
    height: 20px;
    line-height: 20px;
    margin-bottom: unset;
}


.round10px {
    border-radius: 10px;
}
.bg-gradient{
    background-image: var(--gradient) !important;
    color: #fff;
}
.white-bg-simple{
    background-color: #fff;
}
.btn-design-primary {
    font-size: 13px;
    color: #fff !important;
    border-radius: 8px;
    padding: 10px 16px;

    --bg-gradient: radial-gradient(circle at 50% 0%, rgba(90, 104, 251, 1) 0%, rgba(4, 0, 208, 1) 100%);
    transition: .4s !important;
}
.text-over-flow {
    display: -webkit-box !important;
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical !important;
    overflow: hidden !important;
    text-overflow: ellipsis;
    direction: rtl;
    text-align: justify;
}
.text-over-flow-one {
    display: -webkit-box !important;
    -webkit-line-clamp: 1 !important;
    -webkit-box-orient: vertical !important;
    overflow: hidden !important;
    text-overflow: ellipsis;
    direction: rtl;
    text-align: justify;
}
/*/////////////Footer/////////////////*/
.footImg {
    max-width: 71% !important;
    transform: translateX(50%);
    position: absolute;
    bottom: 10%;

}

#FooterMenu {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    color: var(--fourth-color) !important;
    background-color: #fff !important;
}
#FooterMenu router-link{
    background-color: #fff !important;
}

#FooterMenu i {
    font-size: 20px;
    font-weight: bold;
}


#FooterMenu .active .gray-text {
    color: var(--primary-color) !important;
    font-weight: 600;
}


@media (max-width: 456px) {

    .img-services {


    }
    .img-categories {
        width: 60px !important;
    }
    .font20px {
        font-size: 16px !important;
    }

    .font16px {
        font-size: 13px !important;
    }
    .font12px {
        font-size: 12px !important;
    }


}

